* {
    box-sizing: border-box;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
}


label {
    font-size: 16px;
    color: rgba(244, 244, 248, 0.9);
    font-family: helvetica;
    font-weight: 600;
    margin-left: 40px;
    margin-right: auto;
}

input[type="text"] {
    width: 90%;
    border-radius: 4px;
    font-size: 14px;
    display: block;
    padding: 5px 7px;
    background-color: rgb(88, 88, 88);
}


input[type="text"]::placeholder {
    font-size: 16px;
    color: white;
}

.btnCustom {
    margin: 10px;
    margin-left: 10px;
    width: 80px;
    height: 30px;
    padding: 2px;
}


.btn:hover {
    padding: 8px 8px;
    background: rgb(64, 101, 221);
    color: rgb(255, 255, 255);
}

.con1 {
    background-color: black;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-size: 100%;
}

.h {
    font-size: 40px;
    color: white;
    margin: 30px 5px;
}

